* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
  }

  
.wrap{
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    /* font-family: 'Saira', sans-serif; */
    font-family: 'Roboto', sans-serif;

}
aside{    
    font-family: 'Saira', sans-serif;
    position: fixed;
    text-align: center;
    color: white;
    min-height: 100vh;
    width: 25%;
    min-width: 300px;
    background-color: rgba(21, 25, 28, 1);
    background-image: linear-gradient(60deg, rgba(21, 25, 28, 1) 33%, rgba(43, 47, 50, 1) 100%);
}
.logo{
    font-size: 5rem;
    margin: 5vh auto;
}
.navigation>ul>li{
    margin-bottom: 50px;
}
.navigation>ul>li>a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 2rem;
    transition: .3s;
    
}
.navigation>ul>li>a:hover{
    letter-spacing: 5px;
    color: orangered;
}
.navigation>ul>li>a.active{
    color: orangered;
}
p{
    font-size: 2rem;
}

main{
    margin-left: 25%;
    background-color: rgba(21, 25, 28, 1);
    background-image: linear-gradient(270deg, rgba(21, 25, 28, 1) 42%, rgba(43, 47, 50, 1) 100%);
    color: white;
    padding: 0 30px 200px 30px;
}
.titleSite{
    letter-spacing: 10px;
    margin: 100px 100px;
    text-align: right;
    color: orangered;
    font-size: 5rem;
}
.mainDescription{
    margin: 20px 0 100px;
    font-size: 2rem;    
}
.ContentMapdescription {
    position: relative;
    margin: 10px 50px 40px;
    font-Style:italic;
     /* border: 1px solid gray; */
     /* background-Color:#2B2B2B; */
     /* border-radius: 10px; */
     padding: 0px;
     max-Width: 80%;
     /* font-size: 2rem; */
}

.contentMap{
    margin: 10px auto 0 50px;
         font-size: 2rem;
}

.contentMapName{
    cursor: pointer;
    font-size: 1.6rem;
    transition: .3s;
}
.contentMapActiveName{
    margin-bottom: 30px;
    color: orangered;
    font-Size: 2.2rem;
    cursor: pointer;
    transition: .3s;

}
.contentMapActiveName:hover{
    color: orangered;
letter-spacing: 2px;
}
.contentMapName:hover{
    color: orangered;
    letter-spacing: 2px;
}

.name{
    font-size: 2rem;    
}
.nameDescription{
    font-size: 2rem;
    font-weight: 100;
    margin-left: 30px;
}

.descriptionCode {
    font-family: 'Saira', sans-serif;
    color: white;
    white-Space: pre-wrap;
    margin: 30px auto;
    width: 85%;
    background-color:#1E1E1E;
    padding: 50px 50px;
    border-radius: 45px;
    line-height: 200%;
    font-size: 1.8rem;
}
.endLine{
    margin: 100px auto;
    height: 2px;
    width: 70%;
    background-color: orangered;
}

.hiddenDiv {
    max-height: 0;
  }
.showHiddenDiv {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 1s; */
    /* font-weight: 100; */
    margin-left: 50px;
  }
  
  .showDiv {
    max-height: 20000px; /* Ustaw maksymalną wysokość, która jest większa niż oczekiwana */
    /* transition: max-height 1s; */
  }

.chapterName{
    margin-bottom: 10px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s;
}
.chapterNameActive{
    cursor: pointer;
    font-size: 3rem;
    transition: .3s;
    color:rgb(255, 69, 0);
    margin: 0px auto 50px 50px;
    letter-spacing: 5px;
}
.chapterName:hover{
    letter-spacing: 3px;
    color:orangered;
}
.textDescription>p{
        font-size: 2rem;
}
 .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
  }
 .table>thead>tr>th, .table>tbody>tr>td{
    color: white;
    padding: 8px 20px;
    border: 1px solid white;
    font-weight: 100;

 }
  
 h1{
    font-size: 4rem;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 h2{
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 25px;
 }
 h3{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
 }
 h3{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 ul.listUl{
    margin: 40px auto;
    margin-left: 20px;
 }


 ul.listUl>li{
    margin: 10px auto;
    list-style: inside;
    font-size: 2rem;
 }

 .testPage{
    width: 100vw;
    font-size: 3rem;
    padding: 50px 50px;
 }

 .testButton{
    font-size: 3rem;
    margin: 20px;
    width: 150px;
    cursor: pointer;
 }
 .testButton:hover{
    color: red;
    background-color: orange;
 } 
 .testButton:active{
    color: black;
    background-color: orangered;
 }